[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn src.main:app --reload"
fmt = "ruff format ."
test = "pytest -vvs"
lint = "ruff check ."

[packages]
fastapi = "0.105.0"
uvicorn = "0.24.0"

[dev-packages]
pytest = "7.4.3"

[requires]
python_version = "3.12"
